{% extends '@Afiliado/layout.html.twig' %}

{% block contenido %}
    <h1 class="page-header">
    Datos personales
    </h1>
    <div class="well">
        <p>
            Los siguientes son sus datos registrados en nuestra entidad:
        </p>
    </div>

    





{% endblock %}