{% extends '@Afiliado/layout.html.twig' %}



{% block contenido %}
    <h1>Realizar pago de deuda</h1>

    <div class="alert alert-info alert-dismissable">
        <p>Complete por favor los datos del siguiente formulario
    </div>

        <div class="payment-wrapper">
            {{ authorizenet_render() }}
        </div>

{% endblock %}



