{% extends '@Afiliado/layout.html.twig' %}



{% block contenido %}
    <h1>Pago Fallido</h1>

    <div class="alert alert-danger alert-dismissable">
        <p>Su pago no pudo efectuarse correctamente. Los datos ingresados no son validos o su tarjeta rechazo la autorizacion</p>
    </div>

    <div class="well well-sm">
        <p>Verifique que su tarjeta este activa y que posea el margen suficiente para realizar la operacion.
        Para ello comuniquese con su proveedor de tarjeta de cr&eacute;dito para poder regularizar su
        situacion. De lo contrario puede intentar realizar la operacion con otra tarjeta registrada a su
        nombre</p>
    </div>



{% endblock %}



