{% extends '@Backend/layout.html.twig' %}
{% block estilos %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css"  href="{{ asset("bundles/backend/css/grid.css") }}" />
{% endblock %}

{% block contenido %}
    <h1 class="page-header">Lista de Afiliados Registrados </h1>
    {{ grid(grid) }}

{% endblock %}