{% extends '@Afiliado/layout.html.twig' %}

{% block contenido %}
    <h1 class="page-header">
    Bienvenido al Sistema de Autogestion de CGCET
    </h1>
    <div class="well">
        <p>
            El Sistema de Autogestion de CGCET le permitira a usted realizar consultas de sus deudas con la entidad
            , ademas de darle la posibilidad de realizar pago utilizando, de forma completamente segura su tarjeta
            de credito
        </p>
    </div>



{% endblock %}