{% extends '@Afiliado/layout.html.twig' %}

{% block contenido %}
    <h1 class="page-header">
    Bienvenido al Sistema de Autogestion de CGCET
    </h1>
    <div class="well">
        <p>
            <h4>
            El Sistema de Autogestion de CGCET le permitir&aacute; a usted realizar consultas de sus deudas con la entidad
            , ademas de darle la posibilidad de realizar pago utilizando, de forma completamente segura su tarjeta
            de cr&eacute;dito
           </h4>
        </p>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            Datos personales del afiliado
        </div>
        <div class="panel-body">
        <p>
            <i class="fa fa-lightbulb-o"></i>
            Para poder consultar sus datos personales registrados y su estado respecto de nuestro colegio (Activo, Baja, Mantenimiento de
             Matricula), adem&aacute;s de realizar el cambio de contraseña de su cuenta, por favor dir&iacute;jase a la opci&oacute;n
            <strong><em>"Mis Datos"</em></strong> en el men&uacute; lateral izquierdo.
        </p>
       </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            Estado de Deuda del afiliado
        </div>
        <div class="panel-body">
        <p>
            <i class="fa fa-lightbulb-o"></i>
            Para poder consultar sus deudas con nuestro colegio, adem&aacute;s de poder imprimir un comprobante de su deuda y generar un cup&oacute;n de pago
            para abonar en nuestro colegio (mediante un c&oacute;digo de barras) por favor dir&iacute;jase a la opci&oacute;n  <strong><em>"Mi Deuda"</em></strong>
            en el menu lateral izquierdo. Desde aqui tambien podrá realizar el pago de su deuda mediante tarjeta de cr&eacute;dito, generando un comprobante
            de su pago realizado.
        </p>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            Gesti&oacute;n de Datos de Tarjeta de Cr&eacute;dito
        </div>
        <div class="panel-body">
            <p>
                <i class="fa fa-lightbulb-o"></i>
                Desde la opci&oacute;n <strong><em>Tarjetas</em></strong> del menu lateral izquierdo usted podr&aacute; dar de alta, editar y eliminar datos de
                sus tarjetas de cr&eacute;dito para facilitar sus operaciones de pago. Cabe destacar igualmente que usted no tendr&aacute; bajo ninguna circunstancia
                que otorgarnos su n&uacute;mero de seguridad, solo durante la operacion de pago con tarjeta se le solicitar&aacute;.
            </p>
        </div>
    </div>


{% endblock %}