{% extends '@Afiliado/layout.html.twig' %}

{% block contenido %}
    <h1 class="page-header">
    Tarjeta Impropia
    </h1>
    <div class="well">
        <p>
            <h4>
            La tarjeta no esta registrada a su nombre...
           </h4>
        </p>
    </div>


{% endblock %}